[Desktop Entry]
Categories=Game
Comment=Crea un archivo .desktop con un appimage de forma simple.
Exec=python /usr/bin/appimage-desktop-creator/appimage-desktop-creator.py
Icon=/usr/share/icons/hicolor/scalable/apps/appimage-desktop-creator.png
Name=Añadir appimage al menu de apps
Terminal=false
Type=Application
